<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="gbot.css">
    <title>Bot Results</title>
      <!-- <%= resultsArray %> -->
      <!-- <% console.log("hello hi there") %> -->



      <div class = "parent">
          <h1>Your Feed</h1>

<div class="row"> 
  <div class="column">
    <img src="<%=resultsArray[1] %>" style="width:100%">
    <img src="<%=resultsArray[2] %>" style="width:100%">
    <img src="<%=resultsArray[3] %>" style="width:100%">
    <img src="<%=resultsArray[4] %>" style="width:100%">
    <img src="<%=resultsArray[5] %>" style="width:100%">

  </div>
  
  <div class="column">
    <img src="<%=resultsArray[0] %>" style="width:100%">
    <img src="<%=resultsArray[6] %>" style="width:100%">
    <img src="<%=resultsArray[7] %>" style="width:100%">
    <img src="<%=resultsArray[8] %>" style="width:100%">
    <img src="<%=resultsArray[9] %>" style="width:100%">
  </div> 
   
  <div class="column">
    <img src="<%=resultsArray[10] %>" style="width:100%">
    <img src="<%=resultsArray[11] %>" style="width:100%">
    <img src="<%=resultsArray[12] %>" style="width:100%">
    <img src="<%=resultsArray[13] %>" style="width:100%">
    <img src="<%=resultsArray[14] %>" style="width:100%">

  </div>
  
  <div class="column">
    <img src="<%=resultsArray[15] %>" style="width:100%">
    <img src="<%=resultsArray[16] %>" style="width:100%">
    <img src="<%=resultsArray[17] %>" style="width:100%">
    <img src="<%=resultsArray[18] %>" style="width:100%">
    <img src="<%=resultsArray[19] %>" style="width:100%">
  </div>
</div>
</div>

  </head>
  <body>
      





  </body>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
